<div id="layer01572A8FD52ECA45441A13AF976903CB" class="full_column" inbuttom="1"
     style="width:1200px;position:absolute;top:180px;height:60px;z-index:103;">
  <div class="full_width"
       style="position: absolute; height: 60px; background-color: rgb(43, 44, 45); left: -120px; width: 1440px;"></div>
  <div class="full_content" style="width:1200px; position:absolute;left:0;top:0;margin-left: 0px;;height:60px;">
    <div id="layerB3D40632EADBB50F0B0173D1ED7E318F" type="customerservices" inbuttom="1" class="cstlayer"
         style="left: 744px; top: 10px; position: absolute; z-index: 102; width: 153px; height: 43px;" mid=""
         fatherid="layer01572A8FD52ECA45441A13AF976903CB" deg="0">
      <div class="wp-customerservices_content"
           style="overflow: hidden; border-color: transparent; border-width: 0px; width: 153px; height: 43px; border-style: solid; padding: 0px;">
      </div>
      <script language="javascript">$(function () {
        $LAB.script("http://static.websiteonline.cn/website/plugin/customerservices/js/floating.js").wait(function () {
          var layerid = '#layerB3D40632EADBB50F0B0173D1ED7E318F';
          if (layerid.length == 1) return;
          $(layerid).data("os-initval", {
            color: 'blue',
            style: 'style1',
            floating: 'right',
            mode: 'open',
            x: 0,
            y: 100
          });
          var options = $.extend({}, {
            "mod_setting": {
              "show_name": "0",
              "show_account": "0",
              "float_display": "1",
              "plugin_hide": "0",
              "float_top": "200",
              "float_ltr": "0",
              "float_position": "right",
              "float_mode": "open",
              "float_color": "col_87c844",
              "float_effect": "style1"
            }, "layerid": "layerB3D40632EADBB50F0B0173D1ED7E318F"
          })['mod_setting'];
          if ($.type(options) !== 'object') options = {};
          $(layerid).onlineService({
            color: options['float_color'] || 'blue',
            style: options['float_effect'] || 'style1',
            floating: options['float_position'] || 'right',
            position: {x: options['float_ltr'] || '0', y: options['float_top'] || '100'},
            showAccount: options['show_account'] || '0',
            showAlias: options['show_name'] || '0',
            layerId: 'layerB3D40632EADBB50F0B0173D1ED7E318F'
          });
          layerid = options = null;
        })
      });
      </script>
      <script type="text/javascript">


      </script>
    </div>
    <script>             $('#layerB3D40632EADBB50F0B0173D1ED7E318F').triggerHandler('layer_ready');</script>
    <div id="layer1989702038B89B760B58FCF20FEEB74F" type="title" inbuttom="1" class="cstlayer"
         style="left: 55px; top: 20px; position: absolute; z-index: 100; width: 624px; height: 23px;" mid=""
         fatherid="layer01572A8FD52ECA45441A13AF976903CB" deg="0">
      <div class="wp-title_content"
           style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 23px; width: 624px; display: block; border-style: solid;">
        <font color="#d9d9d9" face="微软雅黑"
              style="color: rgb(90, 90, 90); font-family: Arial, 宋体, Helvetica, sans-serif, Verdana; font-size: 12px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; text-align: center;"><span
          style="line-height: 21.6px; color: rgb(153, 153, 153);">Copyright © 2009 - 2019 Cld , All Rights Reserved&nbsp;</span></font><font
        style="text-align: center;" face="微软雅黑"><span style="line-height: 21.6px;"><font
        color="#999999">陕西裕隆同泰节能科技有限公司</font><font color="#999999" face="Arial, 宋体, Helvetica, sans-serif, Verdana">&nbsp; &nbsp;版权所有 陕ICP备13000130-2号</font></span></font>
      </div>
    </div>
    <script>             $('#layer1989702038B89B760B58FCF20FEEB74F').triggerHandler('layer_ready');</script>
    <div id="layer9B085A62EEC45D2C0B12047B4ED43111" type="statistics" inbuttom="1" class="cstlayer"
         style="left: 962px; top: 12px; position: absolute; z-index: 101; width: 150px; height: 40px;" mid=""
         fatherid="layer01572A8FD52ECA45441A13AF976903CB" deg="0">
      <div class="wp-statistics_content"
           style="width: 150px; height: 40px; border-color: transparent; border-width: 0px; border-style: solid; padding: 0px;">
        <div class="statistics_type" style="display:none">2</div>
        <div class="statistics_acount" style="display:none">1261328286%26show%3Dpiccnzz_stat_icon_1261328286</div>
        <script
          type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cdiv id='cnzz_stat_icon_1261328286'%3E%3C/div%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1261328286%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
        <div id="cnzz_stat_icon_1261328286"><a href="https://www.cnzz.com/stat/website.php?web_id=1261328286"
                                               target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0"
                                                                                 src="http://icon.cnzz.com/img/pic.gif"></a>
        </div>
        <script src=" http://s22.cnzz.com/z_stat.php?id=1261328286&amp;show=pic" type="text/javascript"></script>
        <script src="http://c.cnzz.com/core.php?web_id=1261328286&amp;show=pic&amp;t=z" charset="utf-8"
                type="text/javascript"></script>
      </div>
    </div>
    <script>             $('#layer9B085A62EEC45D2C0B12047B4ED43111').triggerHandler('layer_ready');</script>
  </div>
</div>
