<div id="layer01572A8FD52ECA45441A13AF976903CB" class="full_column" inbuttom="1"
     style="width:1200px;position:absolute;top:180px;height:60px;z-index:103;">
  <div class="full_width"
       style="position: absolute; height: 60px; background-color: rgb(43, 44, 45); width: 1440px;"></div>
  <div class="full_content" style="width:1200px; position:absolute;left:185px;top:0;margin-left: 0px;;height:60px;">
    <div id="layerB3D40632EADBB50F0B0173D1ED7E318F" type="customerservices" inbuttom="1" class="cstlayer"
         style="left: 744px; top: 10px; position: absolute; z-index: 102; width: 153px; height: 43px;" mid=""
         fatherid="layer01572A8FD52ECA45441A13AF976903CB" deg="0">
      <div class="wp-customerservices_content"
           style="overflow: hidden; border-color: transparent; border-width: 0px; width: 153px; height: 43px; border-style: solid; padding: 0px;">
      </div>
    </div>
    <div id="layer1989702038B89B760B58FCF20FEEB74F" type="title" inbuttom="1" class="cstlayer"
         style="left: 55px; top: 20px; position: absolute; z-index: 100; width: 624px; height: 23px;" mid=""
         fatherid="layer01572A8FD52ECA45441A13AF976903CB" deg="0">
      <div class="wp-title_content"
           style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 23px; width: 624px; display: block; border-style: solid;">
        <font color="#d9d9d9" face="微软雅黑"
              style="color: rgb(90, 90, 90); font-family: Arial, 宋体, Helvetica, sans-serif, Verdana; font-size: 12px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; text-align: center;"><span
          style="line-height: 21.6px; color: rgb(153, 153, 153);">Copyright © 2009 - 2019 Cld , All Rights Reserved&nbsp;</span></font><font
        style="text-align: center;" face="微软雅黑"><span style="line-height: 21.6px;"><font
        color="#999999">陕西裕隆同泰节能科技有限公司</font><font color="#999999" face="Arial, 宋体, Helvetica, sans-serif, Verdana">&nbsp; &nbsp;版权所有 陕ICP备13000130-2号</font></span></font>
      </div>
    </div>
    <div id="layer9B085A62EEC45D2C0B12047B4ED43111" type="statistics" inbuttom="1" class="cstlayer"
         style="left: 962px; top: 12px; position: absolute; z-index: 101; width: 150px; height: 40px;" mid=""
         fatherid="layer01572A8FD52ECA45441A13AF976903CB" deg="0">
      <div class="wp-statistics_content"
           style="width: 150px; height: 40px; border-color: transparent; border-width: 0px; border-style: solid; padding: 0px;">
        <div class="statistics_type" style="display:none">2</div>
        <div class="statistics_acount" style="display:none">1261328286%26show%3Dpiccnzz_stat_icon_1261328286</div>
        <div id="cnzz_stat_icon_1261328286">
          <a href="https://www.cnzz.com/stat/website.php?web_id=1261328286"
             target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0"
                                               src="http://icon.cnzz.com/img/pic.gif">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
