<div class='slider-container'>
  <div class='fir-slider default-left' #firSlider>
    <div class='fir-tit' #firTit>走专业道路 · 做精细产品</div>
    <div class='fir-detail' #firDet>
      <p style="text-align: center">
        成为绿色节能建材的先导！<br/>​
        秉承和弘扬"誓作行业首，敢为天下先"的精神；<br/>​
        以革命性、跨越式的创新思想，探索绿色节能建材产业发展之路；<br/>​
        坚韧不拔，永不言败，攀登一个又一个高峰。
      </p>
    </div>
    <ul class='fir-btn'>
      <li class='pick-li' #firBtn>了解更多<i class="anticon anticon-arrow-right btn-arrows"></i></li>
    </ul>
  </div>

  <div class='sec-slider' #secSlider>
    <div class='fir-tit' #secTit>走专业道路 · 做精细产品</div>
    <div class='fir-detail' #secDet>
      <p style="text-align: center">
        成为绿色节能建材的先导！<br/>​
        秉承和弘扬"誓作行业首，敢为天下先"的精神；<br/>​
        以革命性、跨越式的创新思想，探索绿色节能建材产业发展之路；<br/>​
        坚韧不拔，永不言败，攀登一个又一个高峰。
      </p>
    </div>
    <ul class='fir-btn'>
      <li class='pick-li' #secBtn>立即试用 <i class="anticon anticon-arrow-right btn-arrows"></i></li>
    </ul>
  </div>

  <div class='thi-slider' #thiSlider>
    <div class='fir-tit' #thiTit>走专业道路 · 做精细产品</div>
    <div class='fir-detail' #thiDet>
      <p style="text-align: center">
        成为绿色节能建材的先导！<br/>​
        秉承和弘扬"誓作行业首，敢为天下先"的精神；<br/>​
        以革命性、跨越式的创新思想，探索绿色节能建材产业发展之路；<br/>​
        坚韧不拔，永不言败，攀登一个又一个高峰。
      </p>
    </div>
    <ul class='fir-btn'>
      <li class='pick-li' #thiBtn>了解更多 <i class="anticon anticon-arrow-right btn-arrows"></i></li>
    </ul>
  </div>

  <div class='fou-slider' #fouSlider>
    <div class='fir-tit' #fouTit>走专业道路 · 做精细产品</div>
    <div class='fir-detail' #fouDet>
      <p style="text-align: center">
        成为绿色节能建材的先导！<br/>​
        秉承和弘扬"誓作行业首，敢为天下先"的精神；<br/>​
        以革命性、跨越式的创新思想，探索绿色节能建材产业发展之路；<br/>​
        坚韧不拔，永不言败，攀登一个又一个高峰。
      </p>
    </div>
    <ul class='fir-btn'>
      <li class='pick-li' #fouBtn>了解更多 <i class="anticon anticon-arrow-right btn-arrows"></i></li>
    </ul>
  </div>

  <ul class='change-bg-btn'>
    <li class='left-change-bg' (click)='reduce()'></li>
    <li class='right-change-bg' (click)='add()'></li>
  </ul>

  <span class='dowmBtn' (click)='goDown()'></span>

  <change-dot (sendIndex)="getIndex($event)" [currentIndex]="index"></change-dot>

</div>
