<div class='need-top'>
  <div class='need-tit'>
    <div class='tit-box' [@fadeInUp] *ngIf="startAnimationTit">
      业务主营
      <div class='icon-wrap'>
        <div class='protect-icon'>
          <i class="fa fa-shield" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>

  <div class=' need-detail' [@fadeInUp] *ngIf="startAnimationDet">
    <p> 陕西裕隆同泰节能科技有限公司是以生产保温砂浆、界面砂浆、粘结砂浆及外加剂、防水材料为主导产品，是集研发、生产、施工、销售为一体的建材企业。</p>
  </div>
</div>

<div class='need-bottom container-fluid'>

  <div class="row layout ">

    <div class='auto-reasons' [@fadeInUp] *ngIf="startAnimationDet">

      <div class="col-md-3 col-sm-12 need-reasons reasons-color1">
        <div class='reasons-wrap'>
          <div class='reasons-icon'>
            <i class="fa fa-edit"></i>
          </div>
          <div class='reasons-tit'> 裕隆同泰 </div>
          <p class='reasons-det'> 我们生活在都市里面，生活节奏越来越快的我们少了一颗能静下来慢慢欣赏美好的心。中国的诗词有着无限的魅力，只是未曾发现。</p>
          <div class='reasons-btn'>了解更多 <i class="anticon anticon-arrow-right btn-arrows"></i> </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 need-reasons reasons-color2">
        <div class='reasons-wrap'>
          <div class='reasons-icon'>
            <i class="fa fa-laptop"></i>
          </div>
          <div class='reasons-tit'> 一加一 </div>
          <p class='reasons-det'>田园的美好我们或许不理解，但是短暂的生命总是有些东西值得我们追求，千年的时光过去，诗词的美丽依旧。</p>
          <div class='reasons-btn'>了解更多 <i class="anticon anticon-arrow-right btn-arrows"></i> </div>
        </div>
      </div>

      <div class="col-md-3  col-sm-12 need-reasons reasons-color3">
        <div class='reasons-wrap'>
          <div class='reasons-icon'>
            <i class="fa fa-code"></i>
          </div>
          <div class='reasons-tit'>要善于发现 </div>
          <p class='reasons-det'>你需要诗意,你需要诗意</p>
          <div class='reasons-btn'>了解更多 <i class="anticon anticon-arrow-right btn-arrows"></i> </div>
        </div>
      </div>

      <div class="col-md-3 need-reasons reasons-color4">
        <div class='reasons-wrap'>
          <div class='reasons-icon'>
            <i class="fa fa-lightbulb-o"></i>
          </div>
          <div class='reasons-tit'> 你需要诗意</div>
          <p class='reasons-det'>你需要诗意,你需要诗意</p>
          <div class='reasons-btn'>了解更多 <i class="anticon anticon-arrow-right btn-arrows"></i> </div>
        </div>
      </div>

    </div>

  </div>

</div>
